@model Loanapp.Models.Loans.LoanViewModel

<h1 class="text-center">Provide Loan Details</h1>
<div asp-validation-summary="All"></div>

<div class="d-flex justify-content-center align-items-center w-50">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Principal">Principal:</label>
            <select asp-for="Principal" class="form-control" id="principalInput" onchange="calculateAmounts()">
                <option value="100000">$100,000</option>
                <option value="150000">$150,000</option>
                <option value="200000">$200,000</option>
                <option value="250000">$250,000</option>
                <option value="300000">$300,000</option>
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="700000">$700,000</option>
                <option value="800000">$800,000</option>
                <option value="1000000">$1,000,000</option>
                <option value="1500000">$1,500,000</option>
                <option value="2000000">$2,000,000</option>




            </select>
            <span asp-validation-for="Principal" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AmountToRepay">Amount to Repay:</label>
            <input asp-for="AmountToRepay" class="form-control" id="amountToRepayInput" readonly/>
            <span asp-validation-for="AmountToRepay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tenure">Tenure:</label>
            <input asp-for="Tenure" class="form-control" type="number" id="tenureInput" oninput="calculateAmounts()" />
            <span asp-validation-for="Tenure" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="MonthlyPayment">Monthly Payment:</label>
            <input asp-for="MonthlyPayment" class="form-control" id="monthlyPaymentInput" readonly/>
            <span asp-validation-for="MonthlyPayment" class="text-danger"></span>
        </div>

        <!-- Fixed interest rate -->
        <div class="form-group">
            <label>Interest:</label>
            <input type="text" value="2.5%" class="form-control" readonly/>
        </div>

        <button type="submit" class="btn btn-primary" asp-action="Index">Submit</button>
    </form>
</div>

<script>
    function calculateAmounts() {
        // Get principal value
        var principal = parseFloat(document.getElementById('principalInput').value);

        // Fixed interest rate
        var interestRate = 2.5 / 100;

        // Calculate amount to repay
        var amountToRepay = principal * (1 + interestRate);

        // Calculate monthly payment
        var monthlyInterestRate = interestRate / 12;
        var numberOfPayments = document.getElementById('tenureInput').value * 12;
        var monthlyPayment;
        if (numberOfPayments != 0) {
            monthlyPayment = (principal * monthlyInterestRate) /
                             (1 - Math.pow(1 + monthlyInterestRate, -numberOfPayments));
        } else {
            monthlyPayment = 0;
        }

        // Update input fields
        document.getElementById('amountToRepayInput').value = amountToRepay.toFixed(2);
        document.getElementById('monthlyPaymentInput').value = monthlyPayment.toFixed(2);
    }
</script>